# Client environment variables for production deployment
VITE_API_URL=https://karigarconnect-7vqm.onrender.com
VITE_API_BASE_URL=https://karigarconnect-7vqm.onrender.com
# VITE_FLASK_URL=https://karigarconnect.onrender.com
# VITE_FRAUD_SOCKET_URL=https://fraud.example.com
VITE_CLOUDINARY_CLOUD_NAME=dykxnkbav
