@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* Hide Google Translate bar */
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

  font-family: 'Inter', sans-serif !important;
  top: 0px !important;
}

.goog-te-gadget {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

/* Fix Google Translate highlight on selected text */
.goog-te-highlight {
  background-color: transparent;
}